:root {
    --card-bg-color: #fefefe;
  }
  
  .card-wrapper {
    font-family: Lato;
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    max-width: 100%;
    border-radius: 1vw;
    padding: 10px;
  }
  
  .card-title{
      margin:0;
  }
  .card-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  
  .card-body {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-top: 5px;
    margin: 0;
  }
  